.crypto-card-container{
    min-height: 65vh !important;
  }
  .crypto-card{
    min-width: 250px;
  }
  .crypto-card .crypto-image{
    width:35px;
  }
  .search-crypto{
    margin: 20px auto 30px auto;
    width: 250px;
  }

  @media screen and (max-width:1259px){
    .crypto-card-container{
      display: flex;
      justify-content: center;
    }
  }